<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul-first">
            <li> <a href="/home" class = "nav-bar-item"> Seth FanPage</a></li>
        </ul>
        <ul class="nav-bar-ul-second">
            <li> <a href="/about" class="nav-bar-item-bold"> About </a></li>
            <li> <a href="/works" class="nav-bar-item"> Works </a></li>
        </ul>
    </nav>
    <div class = "about">

        <section class="biography">
            <h1> Biography </h1>
            <p class="quote">
                "I live to work on projects and build ideas that sit at the point where art, commerce and ideas meet. For me, this idea of creation, is really the essence of life."
            </p>
            <p> 
                Seth Troxler is one of electronic music's most instantly recognisable artists. He has carved out his own unique path as a cultural commentator, art curator, restaurateur and entrepreneur. Descended from a family of cowboys and Baptist preachers, Seth is part African-American, with a singular approach to viewing the world through the prism of contemporary music culture.
            </p>
            <p>
                Born in Kalamazoo, Michigan, and raised in suburban Detroit, Seth learnt the art of DJing initially from his stepfather (then a college radio DJ) and later from working, at only 16, behind the counter in legendary Detroit record store "Melodies & Memories". It wasn't until Seth made the decision to explore new horizons in the mid-2000s, moving to Berlin fresh out of his teens (after debuting at Panorama Bar at just 18 years old), that his DJ career really took off.
            </p>
                Since the move from Detroit to Berlin, then settling in London for a number of years, and now with his time divided between Ibiza and Berlin (Round 2), Seth has established himself as one of the world biggest DJs (voted the world's number one DJ in scene bible Resident Advisor and gracing the front cover of Mixmag three times). He's equally at home playing to the smoke-filled dance floors of some of the world's most discerning nightclubs, such as CircoLoco, fabric (London), Nordstern (Basel), The Lux (Lisbon) or Blitz (Munich), as he is headlining the world's largest festivals, like Glastonbury, Movement, Roskilde or Sonar.
              <p>
                Right from the word go, Seth has been as passionate about food and contemporary art as he is about music, and these two interests have resonated at all points, and in parallel, to his music career. A multi faceted modern artist: he has held residencies at talismanic music institutions, run numerous record labels, and pursued his own solo recording career (including the recent "Play In The Dark" collaboration with the Martinez Brothers on Crosstown Rebels, and "Lumartes" that kick started CircoLoco Recordings in Summer 2021). Furthermore Seth has found the time to launch the successful Smokey Tails' restaurant in London, to create and host his own party during the Rio Carnival, and then to stop everything and to take the time out to climb Kilimanjaro for charity.
              </p>  
                <p>
                    More recently Seth has focussed his creative energies on his "Lost Souls of Saturn" project, alongside Phil Moffa and further opaque participants, that sits firmly at the intersection between futuristic electronica, contemporary art and technology. In 2019 Lost Souls Of Saturn presented their audio/visual installation Transmission at the Saatchi Gallery in London, after its premiere during Art Basel in Switzerland, and collaborated with the Met in New York and the Fondation Beyeler in Basel in 2021. Lost Souls Of Saturn are currently recording their second album and conducting further experiments in augmented reality and virtual reality, which will be revealed soon.
                </p>
                <p>
                    Extremely well travelled, constantly searching and experiencing, Seth Troxler continues to follow his own unique path. </p>
                </p>
        
        </section>

        <section class="basic-info">
            <ul class="info">
                <li><img src="./images/sethtroxler.jpeg" alt="Picture of Seth Troxler"></li>
                <li>Born: September 29, 1985</li>
                <li>Location: United States(Born)</li>
                <li>Germany(Based)</li>
                <li>Links: <a href="https://twitter.com/sethtroxler" class="social-medial-link"> Twitter</a>    <a href="https://soundcloud.com/sethtroxler" class="social-medial-link"> Soundcloud </a> </li>
            </ul>
        </section>
    </div>
    
    
</body>

</html>